@using System.Text.RegularExpressions
@page "/addAgent"
@attribute [Authorize(Roles ="Admin, Sales")]


<div style="width: 450px;">
    <EditForm  @bind-IsValid="@success" @bind-Errors="@errors" Model="@model" OnValidSubmit="OnValidSubmit">
          <DataAnnotationsValidator />
            <MudTextField T="string" Label="Name" Required="true" @bind-Value="model.Name" 
            RequiredError="Agent name is required!" For="@(() => model.Name)"/>
            <MudTextField T="string" Label="Phone" Required="true" @bind-Value="model.Phone"
                      RequiredError="Phone is required!" For="@(() => model.Phone)" />
            <MudTextField T="string" Label="Email" Required="true" @bind-Value="model.Email"
                      RequiredError="Email is required!" For="@(() => model.Email)" />
            <MudTextField T="string" Label="House no." Required="true" @bind-Value="model.HouseNo"
                      RequiredError="House no. is required!" For="@(() => model.HouseNo)" />
            <MudSelect T="string" Label="Select Region"  @bind-Value="model.Region"  AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined">
                @foreach (var r in regions)
                {
                   <MudSelectItem T="string" Value="@r">@r</MudSelectItem>
                }
            </MudSelect>
            @* <MudNumericField Label="Commission (%)" Required="true" @bind-Value="model.Commission"
                      RequiredError="Commission is required!" For="@(() => model.Commission)" />*@
     <div style="margin-top:15px"  class="mud-card-actions">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
    </div>
    </EditForm>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    bool success;
    Agent model = new Agent();
    string[] errors = { };
        private string[] regions =
        {
           "Ahafo","Ashanti","Bono","Bono East",
           "Central","Eastern","Greater Accra",
           "Nort East","Northern","Oti","Savannah",
           "Upper East","Upper West","Volta","Western",
           "Western North"
        };


    private async void OnValidSubmit(EditContext context)
    {
        var response = await Http.PostAsJsonAsync("api/Agent/AddAgent",model);
        var content = await response.Content.ReadFromJsonAsync<Result>();
        if (content is not null && content.IsSucessful)
        {
            Agent model = new Agent();
            await ModalInstance.CloseAsync();
            Snackbar.Add(content.Message, Severity.Success);
            accountEvents.OnAccountAdded(this);
        }
        else if (content is not null && !content.IsSucessful)
        {
            await ModalInstance.CloseAsync();
            Snackbar.Add(content.Message, Severity.Success);
        }
        StateHasChanged();
    }
}
