@page "/Sales"
@attribute [Authorize(Roles ="Admin, Sales")]

<MudText Typo="Typo.h6">Sales</MudText>
    <MudButton Variant="Variant.Filled" Height="200px" Color="Color.Primary" @onclick="ShowModal">Add Transaction</MudButton>
    <div style="margin-top:10px">
    <MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Virtualize="true" FixedHeader="true" Filter="new Func<SalesDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" TextChanged ="@(()=>CalculateSummuries(@searchString1))"  IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <MudSelect T="string" @bind-Value="@period" SelectedValuesChanged="@(() => PeriodChanged())" Label="Transactions For" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" >
            <MudSelectItem Value="@("Today")" />
            <MudSelectItem Value="@("This Week")" />
            <MudSelectItem Value="@("This Month")" />
            <MudSelectItem Value="@("This Year")" />
            <MudSelectItem Value="@("All")" />
            
        </MudSelect>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>CreatedOn</MudTh>
        <MudTh>Agent</MudTh>
        <MudTh>Game</MudTh>
        <MudTh>Sales</MudTh>
        <MudTh>Paid</MudTh>
        <MudTh>Outstanding Balance</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="CreatedOn">@context.TransactionDate</MudTd>
        <MudTd DataLabel="Agent">@context.AgentName</MudTd>
        <MudTd DataLabel="Game">@context.GameName</MudTd>
        <MudTd DataLabel="Sales">@context.DailySales</MudTd>
        <MudTd DataLabel="Amount">@context.Amount</MudTd>       
        <MudTd DataLabel="Sales">@context.OutstandingBalance</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="">
            @*<MudFab @onclick="@(()=>EditTransaction(@context.Id))" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" />*@
            <MudFab @onclick="@(()=>DeleteTransaction(@context.Id))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
        </MudTd>
    </RowTemplate>
    <FooterContent>
        <MudTFootRow Class="bold-text">
          <MudTd>&nbsp</MudTd>
          <MudTd>&nbsp</MudTd>
          <MudTd>&nbsp</MudTd>
          <MudTd>@DailySales</MudTd>
          <MudTd>@TotalBalance</MudTd>
          <MudTd>@OutstandingBalance</MudTd>
        </MudTFootRow>
    </FooterContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
  </MudTable>
</div>


@*<MudCard Outlined="true">
    <MudCardContent>
        <MudText Typo="Typo.h6">Summary</MudText>
        <MudSpacer />
        <MudText Typo="Typo.body2" >Total Transactions: @TotalNum</MudText>
        <MudText Typo="Typo.body2" >Total Amount:   GH₵ @TotalBalance</MudText>
    </MudCardContent>
</MudCard>*@

@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private SalesDto selectedItem1 = null;

    private List<SalesDto>? Elements { get; set; }
    string period = "Today";

    public int TotalNum { get; set; }
    public decimal DailySales { get; set; }
    public decimal OutstandingBalance { get; set; }
    public decimal TotalBalance { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Elements = await Http.GetFromJsonAsync<List<SalesDto>>($"/api/Sales/GetTransactions/{period}");
        DailySales = Elements.Sum(x=>x.DailySales);
        TotalBalance = Elements.Sum(x=>x.Amount);
        OutstandingBalance = Elements.Sum(x=>x.OutstandingBalance);
        TotalNum = Elements.Count;
    }


    private bool FilterFunc1(SalesDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(SalesDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.AgentName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    private void CalculateSummuries(string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
        {
            DailySales = Elements.Sum(x=>x.DailySales);
            TotalBalance = Elements.Sum(x=>x.Amount);
            OutstandingBalance = Elements.Sum(x=>x.OutstandingBalance);   
        }
        if (Elements.Select(x=>x.Description.ToUpper()).Contains(searchString.ToUpper()))
        {
            DailySales = Elements.Where(x => x.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase)).Sum(x=>x.DailySales);
            TotalBalance = Elements.Where(x => x.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase)).Sum(x=>x.Amount);
            OutstandingBalance = Elements.Where(x => x.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase)).Sum(x=>x.OutstandingBalance);
        }
        if (Elements.Select(x=>x.AgentName.ToUpper()).Contains(searchString.ToUpper()))
        {
            DailySales = Elements.Where(x => x.AgentName.Contains(searchString, StringComparison.OrdinalIgnoreCase)).Sum(x=>x.DailySales);
            TotalBalance = Elements.Where(x => x.AgentName.Contains(searchString, StringComparison.OrdinalIgnoreCase)).Sum(x=>x.Amount);
            OutstandingBalance = Elements.Where(x => x.AgentName.Contains(searchString, StringComparison.OrdinalIgnoreCase)).Sum(x=>x.OutstandingBalance);
        }
    }

    async Task EditTransaction(string TransactionId)
    {
        SalesDto transaction = Elements.FirstOrDefault(x => x.Id == TransactionId);
        if(transaction != null)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(EditAgentsTransaction.Transaction), transaction);

            var transactionModal = Modal.Show<EditAgentsTransaction>("Edit Agents Transaction", parameters);
            var result = await transactionModal.Result;
            if(result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
            }
            else
            {
                SalesDto updatedTransaction = (SalesDto)result.Data;
                var originalTransaction = Elements.FirstOrDefault(t => t.Id == updatedTransaction.Id);
                if(originalTransaction != null)
                {
                    originalTransaction.AccountId = updatedTransaction.AccountId;
                    originalTransaction.AccountName = updatedTransaction.AccountName;
                    originalTransaction.AgentId = updatedTransaction.AgentId;
                    originalTransaction.AgentName = updatedTransaction.AgentName;
                    originalTransaction.Amount = updatedTransaction.Amount;
                    originalTransaction.DailySales = updatedTransaction.DailySales;
                    originalTransaction.OutstandingBalance = updatedTransaction.OutstandingBalance;
                    originalTransaction.Description = updatedTransaction.Description;
                    StateHasChanged();
                }         
            }
        }
    }

    async Task DeleteTransaction(string Id)
    {
        SalesDto transaction = Elements.FirstOrDefault(x => x.Id == Id);
        if(transaction != null)
        {
            var transactionModal = Modal.Show<ConfirmDelete>("Confirm Delete");
            var result = await transactionModal.Result;
            if(result.Cancelled == false)
            {
                var response = await Http.DeleteAsync($"/api/Sales/{Id}");
                if(response.IsSuccessStatusCode)
                {
                    Snackbar.Add("Deletion Was Successful", Severity.Info);
                    Elements.Remove(transaction);
                    StateHasChanged();
                }
                else
                {
                    Snackbar.Add("Deletion Failed", Severity.Error);   
                }
            }
        }
    }

    async Task ShowModal()
    {
        var transactionModal = Modal.Show<AddAgentsTransaction>("Add Agent Transaction");
        var result = await transactionModal.Result;
        if(result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            Console.WriteLine(result.Data);
            Elements.Add((SalesDto) result.Data);
            StateHasChanged();
        }
    }

    async Task PeriodChanged()
    {
        Elements = await Http.GetFromJsonAsync<List<SalesDto>>($"/api/Sales/GetTransactions/{period}");
        TotalBalance = Elements.Sum(x => x.Amount);
        TotalNum = Elements.Count;
    }
}
