@page "/Agents"
@implements IDisposable
@attribute [Authorize]

<MudText Typo="Typo.h6">Agents</MudText>
<MudButton Variant="Variant.Filled" Height="200px" Color="Color.Primary" @onclick="@(() => Modal.Show<AddAgent>("Add Agent"))">Add Agent</MudButton> 
    <div style="margin-top:10px">
    <MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Virtualize="true" FixedHeader="true" Filter="new Func<AgentDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>CreatedOn</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Region</MudTh>
        <MudTh>Contact</MudTh>
        <MudTh>Sales</MudTh>
        <MudTh>Wins</MudTh>
        <MudTh>Outsanding Bal.</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="CreatedOn">@context.CreatedDate</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Region">@context.Region</MudTd>
        <MudTd DataLabel="Contact">@context.Contact</MudTd>
        <MudTd DataLabel="Sales">@context.Sales</MudTd>
        <MudTd DataLabel="Paid In">@context.AmountPaid</MudTd>
        <MudTd DataLabel="Balance">@context.OutstandingBalance</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
  </MudTable>
</div>

@code {
     private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private string searchString2 = "";
    private AgentDto selectedItem1 = null;
    private AgentDto selectedItem2 = null;
    private HashSet<AgentDto> selectedItems = new HashSet<AgentDto>();
    private IEnumerable<AgentDto> Elements = new List<AgentDto>();

    protected override async Task OnInitializedAsync()
    {
        accountEvents.AccountAdded += async (source, e) => await ReloadAccounts(source, e);
        await GetAccounts();
    }

    private async Task GetAccounts()
    {
        var result = await Http.GetFromJsonAsync<IList<AgentDto>>("api/Agent/GetAgents");
        if(result is not null)
        {
            Elements = result;
        }
        else
        {
            Elements = new List<AgentDto>();
        }
    }
    private async Task App_StateChanged(ComponentBase Source)
    {
        if (Source != this)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    public async Task ReloadAccounts(object source, EventArgs e)
    {
        await GetAccounts();
        await App_StateChanged((ComponentBase)source);
    }

    private bool FilterFunc1(AgentDto element) => FilterFunc(element, searchString1);
    private bool FilterFunc2(AgentDto element) => FilterFunc(element, searchString2);

    private bool FilterFunc(AgentDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Region.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    void IDisposable.Dispose()
    {
        accountEvents.AccountAdded -= async (source, e) => await ReloadAccounts(source, e);
    }
}
