@page "/Dashboard"

<MudText Typo="Typo.h4">DASHBOARD</MudText>

<MudGrid>


    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.CurrencyBitcoin" Color="Color.Primary"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>


        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.CurrencyBitcoin" Color="Color.Secondary"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.CurrencyBitcoin" Color="Color.Success"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.GraphicEq" Color="Color.Surface"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>
        </MudPaper>
    </MudItem>

</MudGrid>
<hr />
<MudGrid>


    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.CurrencyBitcoin" Color="Color.Primary"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>


        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.CurrencyBitcoin" Color="Color.Secondary"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.CurrencyBitcoin" Color="Color.Success"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p>  <MudIcon Icon="@Icons.Material.Filled.GraphicEq" Color="Color.Surface"></MudIcon></p>
            <MudText>
                <p>00.00</p>
                <p>Total Book Sales</p>
            </MudText>
        </MudPaper>
    </MudItem>

</MudGrid>
<br/>

<MudText Typo="Typo.h5">Sales/Wins Monthly Performance</MudText>
@code {

}

