@page "/EditUserRole"
@inject MudBlazor.ISnackbar Snackbar
@attribute [Authorize(Roles = "Admin")]
@if(locations == null)
{
    <div>Loading...</div>
}
else
{
    <div style="width: 450px;">
        <EditForm @bind-IsValid="@success" @bind-Errors="@errors" Model="model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <MudTextField T="string" Required="true" @bind-Value="model.Email"
                          RequiredError="Description is required!" For="@(() => model.Email)" ReadOnly="true" Variant="Variant.Filled" />

            <MudSelect T="int" Label="Select Location" @bind-Value="model.LocationId" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined">
                @foreach (var loc in locations)
                {
                    <MudSelectItem T="int" Value="@loc.Id">@loc.LocationName (@loc.LocationABV)</MudSelectItem>
                }
            </MudSelect>

            <div class="row">
                <MudText Typo="Typo.h6">Assign Pages/Roles</MudText>
                <div class="col-6">
                    
                    @* <MudCheckBox T="bool" @bind-Value="Saleregister" Label="Sales Register" Color="Color.Primary"></MudCheckBox>
                <MudCheckBox T="bool" @bind-Value="Winsregister" Label="Wins Register" Color="Color.Primary"></MudCheckBox>
                <MudCheckBox T="bool" @bind-Value="Payoutregister" Label="Payout Register" Color="Color.Primary"></MudCheckBox>
                <MudCheckBox T="bool" @bind-Value="Payinregister" Label="Payin Register" Color="Color.Primary"></MudCheckBox>
                <MudCheckBox T="bool" @bind-Value="Admin" Label="Admin" Color="Color.Primary"></MudCheckBox> *@
                    <div class="form-check">
                        @foreach(var role in model.Roles)
                        {
                            <div><label><input type="checkbox" checked="@role.IsSelected" class="form-check-input" @bind-value="@role.IsSelected" /> &nbsp; @role.PageDisplayName</label></div>
                        }

                    </div>
                </div>
            </div>





            <ValidationSummary />
            <div style="margin-top:15px" class="mud-card-actions">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
            </div>
        </EditForm>
    </div>
}


@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public UserDto userDto { get; set; }
    public EditUserDto model { get; set; } = new EditUserDto();
    private IList<Location> locations = new List<Location>();
    List<UserPageAccessDto> userPageAccess = new List<UserPageAccessDto>();
    //UserDto model = new UserDto();
    private List<string> Userroles = new List<string>();

    //
    private bool Saleregister { get; set; }
    private bool Salereport { get; set; }
    private bool Winsregister { get; set; }
    private bool Winsreport { get; set; }
    private bool Payinregister { get; set; }
    private bool Payinreport { get; set; }
    private bool Payoutregister { get; set; }
    private bool Payoutreport { get; set; }
    private bool Admin { get; set; }



    bool success;
    string[] errors = { };

    private async void OnValidSubmit(EditContext context)
    {

        var response = await Http.PutAsJsonAsync("api/Auth", model);
        if(response.IsSuccessStatusCode)
        {
            model = new EditUserDto();
            var result = await response.Content.ReadFromJsonAsync<Result<UserDto>>();
            Snackbar.Add("User Updated", Severity.Success);
            await ModalInstance.CloseAsync(ModalResult.Ok(result.Value));

        }
        else
        {
            model = new EditUserDto();
            Snackbar.Add("Update Failed", Severity.Error);   
        }
    }
    protected override async Task OnParametersSetAsync()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        model.Id = userDto.Id;
        model.Email = userDto.Email;
        model.LocationId = userDto.LocationId;

        await LoadLocations();
        await GetUserRoles();

        foreach (var role in userPageAccess)
        {
            model.Roles.Add(role);
        }
        StateHasChanged();
    }

    private async Task GetUserRoles()
    {
        var result = await Http.GetFromJsonAsync<List<UserPageAccessDto>>($"api/Auth/GetUserPageAccess/{model.Id}");
        if (result is not null)
        {
            userPageAccess = result;
        }
        else
        {
            userPageAccess = new List<UserPageAccessDto>();
        }
    }
    private async Task LoadLocations()
    {
         var result = await Http.GetFromJsonAsync<List<Location>>($"api/Location");
        if(result is not null)
        {
            locations = result;
        }
        else
        {
            locations = new List<Location>();
        }
    }
}
